*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{
    visibility: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 100px;

    letter-spacing: 10px;
    -webkit-text-stroke: 2px #2C3D55 ;
    -webkit-text-fill-color: white;
    margin: 15px;
}
h1:hover{
    -webkit-text-fill-color: #2C3D55;
}

/* mouse */
.cursor{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    contain: layout style size;
    pointer-events: none;
}
.media-blend{
    z-index: 10;
    mix-blend-mode: exclusion;
}
.cursor-media{
    filter: invert(1);
}
.cursor::before{
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    transform: scale(0.2);
    background: black;
    border-radius: 50%;
}
.cursor-media{
    display: block;
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 100%;
    transform: scale(0);
    margin: -175px 0 0 -175px;
    position: relative;
}
img{
    height: 350px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

